<div class="brands-brand">

  <div class="brands-brand-name"><%= link_to brand.name, brand_url(brand) %></div>

  <% if brand.logo %>

    <div class="brands-brand-image"><%= image_tag(brand.logo, class: 'brands-brand-image-img') %></div>

  <% end %>

</div>
