<% if current_user.is_admin %>

  <span class="nav-item"><%= link_to 'Admin', admin_index_path %></span>

  <span class="nav-item">|</span>

<% end %>

<span class="nav-item"><%= current_user.email %></span>

<span class="nav-item">|</span>

<span class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></span>

<span class="nav-item">|</span>

<span class="nav-item"><%= link_to 'Account', edit_user_registration_path %></span>
