// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
  flex: 0 1 1150px;
}
.categories-sidebar {
  -webkit-box-shadow: 1px 2px 7px 0px #b7b7b7;
  -moz-box-shadow: 1px 2px 7px 0px #b7b7b7;
  box-shadow: 1px 2px 7px 0px #b7b7b7;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 14px;
  margin: 78px 0 0 25px;
  padding: 5px;
  display: inherit;
  height: max-content;
}
.categories-sidebar-heading {
  border-bottom: 1px dotted #b4b4b4;
  font-size: 16px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.categories-sidebar-item {
  border-bottom: 1px dotted #b4b4b4;
  flex: 0 1 35px;
  line-height: 35px;
  &:last-child {
    border: none;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .products-product {
    -webkit-box-shadow: 1px 2px 7px 0px #b7b7b7;
    -moz-box-shadow: 1px 2px 7px 0px #b7b7b7;
    box-shadow: 1px 2px 7px 0px #b7b7b7;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    display: flex;
    flex: 0 1 200px;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
  }
    .products-product-heading {
      flex: 0 1;
      font-weight: bold;
      padding: 10px 0;
    }
    .products-product-link {
      align-items: center;
      display: flex;
      flex: 1 1 100%;
      justify-content: center;
    }
    .products-product-image {
      max-height: 250px;
      max-width: 98%;
    }
    .products-product-details {
      line-height: 30px;
    }
      .products-product-details-item {
        &.mod-msrp {
          text-decoration: line-through;
        }
      }

.products-show-page {
  .product {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
  }
    .product-details {
      flex: 1 1;
      order: 2;
    }
    .product-images {
      order: 1;
      padding-right: 25px;
    }
    .product-details-con {
      flex: 1 1 100%;
      order: 3;
    }
  .product-sidebar {
    flex: 0 0 225px;
    padding-left: 25px;
  }
}
