// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main {
  justify-content: space-between;
}
.main {
  //flex: 0 1 81%;
}
.categories-sidebar {
  -webkit-box-shadow: 1px 2px 7px 0px #b7b7b7;
  -moz-box-shadow: 1px 2px 7px 0px #b7b7b7;
  box-shadow: 1px 2px 7px 0px #b7b7b7;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex: 0 1 17%;
  flex-direction: column;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
  display: inherit;
  height: max-content;
}
  .categories-sidebar-heading {
    border-bottom: 1px dotted #b4b4b4;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    padding: 0;
  }
  .categories-sidebar-item {
    border-bottom: 1px dotted #b4b4b4;
    display: -webkit-box;
    flex: 0 1 35px;
    line-height: 35px;
    height: 35px;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    &:last-child {
      border: none;
    }
  }
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .products-product {
    -webkit-box-shadow: 1px 2px 7px 0px #b7b7b7;
    -moz-box-shadow: 1px 2px 7px 0px #b7b7b7;
    box-shadow: 1px 2px 7px 0px #b7b7b7;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    display: flex;
    flex: 0 1 200px;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
  }
    .products-product-heading {
      flex: 0 1;
      font-weight: bold;
      padding: 10px 0;
    }
    .products-product-link {
      align-items: center;
      display: flex;
      flex: 1 1 100%;
      justify-content: center;
    }
    .products-product-image {
      max-width: 100%;
      max-height: 250px;
    }
    .products-product-details {
      line-height: 30px;
    }
      .products-product-details-item {
        &.mod-msrp {
          text-decoration: line-through;
        }
      }

.products-show-page {
  .product {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    .product-sidebar {
      flex: 1 1 100%;
    }
  }
    .products-product {
      flex: 0 1 40%;
    }
      .products-product-heading {
        font-size: 10px;
      }
    .product-details {
      flex: 1 1;
      line-height: 30px;
      order: 2;
    }
      .product-details-price {
        padding-right: 10px;
      }
      .product-details-controlls {
        display: flex;
        justify-content: flex-end;
        a {
          display: block;
          position: relative;
          padding: 0 12px;
          height: 30px;
          line-height: 30px;
          background: #1275ff;
          background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
          background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
          background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
          background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
          background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
          background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
          background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
          background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
          background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
          font-size: 14px;
          color: #fff;
          font-weight: bold;
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
          -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
          -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
          -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
          -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          border-radius: 4px;
        }
      }
    .product-images {
      display: flex;
      flex: 0 1 350px;
      flex-direction: column;
      order: 1;
      padding-right: 25px;
    }
      .product-images-image {
        display: table-cell;
        height: 275px;
        text-align: center;
        vertical-align: middle;
        width: auto;
      }
      .product-details-image {
        border: 1px solid;
      }
      .product-images-bar {
        display: flex;
        flex-wrap: wrap;
      }
        .product-images-bar-image {
          align-items: center;
          border: 1px solid;
          cursor: pointer;
          display: flex;
          flex: 0 1 50px;
          margin: 0 5px;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          img {
            vertical-align: -webkit-baseline-middle;
            width: 100%;
          }
          a {
          }
        }
    .product-details-con {
      flex: 1 1 100%;
      order: 3;
    }
  .product-sidebar {
    flex: 0 0 225px;
    padding-left: 25px;
  }
}
.cart-item-detail.mod-price {
  flex: 0 0 70px;
  text-align: right;
}
@media (max-width: 760px) {
  header {
    padding: 0 15px;
  }
  main {
    padding: 0 15px;
  }
  footer {
    padding: 0 15px;
  }
  .header-nav, .nav-right {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .products-show-page {
    .product-sidebar {
      flex: 1 1 100%;
    }
  }
  .footer-item {
    flex: 1 1 100%;
  }
  .cart {
    display: none;
    min-width: 0;
    padding: 0;
    position: relative;
    right: auto;
  }
    .cart-total {
      justify-content: space-around;
    }
}
